<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761492499035-s5908v9m3pdmqiurae8dj2g138ovi6sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761492499035-s5908v9m3pdmqiurae8dj2g138ovi6sc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_FTM5deX6LMQcDGxU1ojsxCTRIbpgsfo</string>
	<key>GCM_SENDER_ID</key>
	<string>761492499035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vonNote</string>
	<key>PROJECT_ID</key>
	<string>von-note</string>
	<key>STORAGE_BUCKET</key>
	<string>von-note.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761492499035:ios:14938299e0508972f2ed7e</string>
</dict>
</plist>